# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3a73c992cf3c3372c5267a9267493bc6d2fdde2734d4d613bc9dab65d2963dfa7ec54d79df451b559908a9c52e6c3a61dcffbfc0ffbfb6aad8c1d8aed91e794e

test:
  secret_key_base: 2aae0443f4fba097fb3d0231e60f6041932a4d0add2ab63188a95583dd97127b2e65ed2d67dcb19ad1d33dc74908c403dc2b02bf70b79f556aef2cb8a2364af9

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
